<h1>Recipes#index</h1>

<table>
  <tr>
    <td>Name</td>
    <td>Instructions</td>
    <td>Servings</td>
  </tr>

  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= recipe.instructions %></td>
      <td><%= recipe.servings %></td>
    </tr>
  <%end%>

</table>
